@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Permanent Marker";
    font-weight: 400;
    src: url("../PermanentMarker-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("../Poppins-Black.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("../Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("../Poppins-Light.ttf");
  }
}

@layer components {
  .clickable {
    @apply hover:opacity-90 active:opacity-100 cursor-pointer active:cursor-default;
  }

  .card {
    @apply flex flex-col p-4 text-center gap-2 rounded-lg shadow-md hover:shadow-lg;
  }

  .btn {
    @apply px-4 py-1.5 rounded-md;
  }
}
