@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Permanent Marker";
    font-weight: 400;
    src: url("../PermanentMarker-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("../Poppins-Black.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("../Poppins-Medium.ttf");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("../Poppins-Light.ttf");
  }
}
